.itemInList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.25rem 0;
}
.inputCheckBox {
  margin: 0 2rem;
}
.taskDescription,
.taskDescription_completedTask {
  width: 44.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  overflow-wrap: normal;
  padding: 0.5rem;
}
.taskDescription_completedTask {
  text-decoration: line-through;
}
.deleteButton,
.doneButton {
  cursor: pointer;
  width: 3.75rem;
  height: 2.5rem;
  padding: 0rem 0.9rem;
  border-radius: 3rem;
  border: none;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.deleteButton {
  background-color: #ea4435d8;
  color: #fff;
}
.deleteButton:hover {
  background-color: #ea4335;
}
.doneButton {
  background-color: #16af1eab;
  color: #000;
}
.doneButton:hover {
  background-color: #19c722;
}

.createdOn {
  color: #f3f3f3;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: #4285f4;
  width: 18rem;
  text-align: center;
  padding: 5px;
  border-radius: 1rem;
  margin-left: 1.5rem;
}
