.spinner_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  border-top-color: red;
  animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.badges_container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}
.counter {
  color: #000;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  width: 8rem;
  background-color: #ffba00;
  padding: 5px;
  border-radius: 1rem;
}
.refreshButton{
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  width: 8rem;
  background-color: #1d1db1;
  padding: 5px;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}